body {
    padding: 0;
    margin: 0;
    color: white;
    background: url(images/pexels-lukas-669584.jpg);
    font-family: 'Playball', cursive;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #5a5e6a;
    background-size: cover;

}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 124px;
    box-sizing: border-box;
}
.left img{
    width: 70px;
    filter: invert(100%);
    margin-left:84px;
    margin-top: 10px;
}
.left div {
    text-align: center;
    line-height: 13px;
    font: 25px;
    margin-left:40px;
    width: 150px;

}
.mid{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 30px;

}
.mid .navbar ul{ 
    display: flex;
    list-style: none;
    justify-content: center;
}
li a{
    text-decoration: none;
    margin-left: 57px;
    font-size: 25px;
    color: white;
   
}
.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: #a3a1a1;
}
.right {
    margin: 34px 34px;
    top: 34px;
    display: flex;
}
.right .btn a{
    display: flex;
    color: white;
    text-decoration: none;
    width: 108px;
    height: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.btn {
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Playball', cursive;
}

.btn:hover {
    background-color: rgb(39, 37, 37);
    box-shadow: 0 40 150 gray;

}

.container {
    /* border: 2px solid #f5f8f5;  */
    justify-content: center;
    padding: 41px;
    width: 100%;
    border-radius: 27px;
    color: #0d0c0c;
    text-transform: capitalize;
    text-align: justify;
    font-size: 21px;
}

.container .group {
    text-align: center;
    margin-top: 200px;
}

.container .group h3 {
    color: rgb(41, 39, 39);
    font-weight: 400;
}

.form-group input {
    text-align: center;
    display: block;
    width: 505px;
    padding: 1px;
    border: 3px solid black;
    margin: 11px auto;
    border-radius: 10px;
    font-family: 'Playball', cursive;
    font-size: 25px;
}

.container button {
    display: block;
    width: 40%;
    margin: 30px auto;
    padding: 4px;
    border-radius: 12px;
    font-size: 27px;
}

.btn .join{
    color: white;
    text-decoration: none;
}

.group-why {
    text-align: center;
    margin: 150px auto;
    width: 34%;
}