body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Playball', cursive;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #cdc7c7;
    width: 2151px;
    background-size:cover; 
}
.main{
    position: absolute;
    display: block;
    margin: auto;
    background: url(images/pexels-lukas-669584.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
header{
    position: relative;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 44px;
    top: 11px;
    width: 150px;
}

.mid {
    /* border: 2px solid green; */
    display: block;
    width: 40%;
    margin: 20px 650px;
    position: fixed;

}

.navbar {
    display: inline-block;

    margin-left: 20px;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    padding: 20px 23px;
    text-decoration: none;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: #504848;
}

.left img {
    width: 70px;
    filter: invert(100%);
    margin-left: 40px;
    position: fixed;
}

.left div {
    text-align: center;
    line-height: 13px;
    font: 25px;
    position: fixed;
    margin: 77px 15px;
}

.right {
    right: 34px;
    top: 34px;
    display: inline-block;
    position: fixed;
}
.btn {
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Playball', cursive;
}

.btn:hover {
    background-color: rgb(39, 37, 37);
    box-shadow: 0 40 150 gray;

}

.container {
    /* border: 2px solid #f5f8f5;  */

    margin: 142px 470px;
    padding: 41px;
    width: 48%;
    border-radius: 27px;
    color: #0d0c0c;
    text-transform: capitalize;
    text-align: justify;
    font-size: 21px;
    }

.container .group {
    text-align: center;
}
.container .group h3{
    color: rgb(41, 39, 39);
    font-weight: 400;
}

.form-group input {
    text-align: center;
    display: block;
    width: 505px;
    padding: 1px;
    border: 3px solid black;
    margin: 11px auto;
    border-radius: 10px;
    font-family: 'Playball', cursive;
    font-size: 25px;
}

.container button{
    display: block;
    width: 77%;
    margin: 30px auto;
    padding: 4px;
    border-radius: 12px;
    font-size: 27px;
}
.join{
    color: white;
    text-decoration: none;
}
.group-why{
    text-align: center;
    margin-top: 150px;
}
.Next-Session{
        position: relative;
        box-sizing: border-box;
        text-align: center;
        margin-top: 150px 700px;
        
}
.section1{
    width: 283px;
    display: inline-block;
    text-align: justify;
    position: relative;

}
.section2{
    width: 286px;
    display: inline-block;
    margin-left: 200px;
    text-align: justify;
    position: relative;
}